.homecontainer .nav {
    background-image: url('../../assets/img/index_icon_address.png');
    height:50px;
    width: 100%;
    overflow: hidden;
    zoom: 1;
    position: fixed;
    top:0;
    z-index: 999;
}
.homecontainer .nav .leftnav{
    float: left;
    width: 50%;
}
.homecontainer .nav .leftnav span:nth-of-type(1){
    line-height: 50px;
    font-size: 20px;
    color: white;
    display: inline-block;
    padding-left: 20px;
    background-image: url('../../assets/img/index_icon_locate.png');
    background-repeat: no-repeat;
    background-size: 15px 20px;
    background-position: 0 15px;
    margin-left: 20px;
}
.homecontainer .nav .leftnav span:nth-of-type(2){
    display: inline-block;
    width: 12px;
    line-height: 50px;
    height: 9px;
    background-image: url('../../assets/img/index_icon_down.png');
    margin-left: 2px;
}
.homecontainer .nav .rightnav{
    text-align: right;
    float: right;
    width: 50%;
    height: 50px;
}
.homecontainer .nav .rightnav span:nth-of-type(1){
    line-height: 50px;
    display: inline-block;
    width: 20px;
    height: 50px;
    background-image: url('../../assets//img/index_icon_message.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 0 15px;
}
.homecontainer .nav .rightnav span:nth-of-type(2){
    line-height: 50px;
    display: inline-block;
    width: 27px;
    height: 50px;
    background-image: url('../../assets//img//index_icon24.png');
    background-position: -5px -63px;
    background-size: 30px 490px;
    margin-left: 5px;
    display: none;
}
.homecontainer .homeSecond{
    margin-top: 50px;
    background-image: url('../../assets/img/index_icon_address.png');
    height:180px;
    text-align: center;
    padding-top: 5px;
}
.homecontainer .homeSecond .searchdiv{
    width: 95%;
    margin: 0 auto;
    border-radius: 25px;
    height: 40px;
    text-align: center;
    vertical-align: center;
    background-color: white;
    
    font-size: 18px;
}
.homecontainer .homeSecond .searchdiv span:nth-of-type(1){
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 60px;
    vertical-align: center;
    background-image: url('../../assets//img//index_icon24.png');
    background-position: 0px 84px;
    background-size: 30px 490px;
}
.homecontainer .homeSecond .titlespan{
    margin-left: 10px;
    color: white;
}
.aaa{
    margin-top: 5px;
}
.homecontainer .homeSecond img{
    width: 100%;
}
.homecontainer .middletitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
.homecontainer .middletitle .titlecell{
    display: inline-block;
    color: black;
    width: 20%;
    text-align: center;
}
.homecontainer .middletitle .titlecell img{
    width: 50px;
    height: 50px;
}
.homecontainer .lunbotu .lunbotucell{
    display: inline-block;
    margin-top: 5px;
}
.homecontainer .lunbotu .lunbotucell img{
    height: 100px;
}
.homecontainer .imgnav1{
    display: flex;
}
.homecontainer .imgnav1 .imgnav1cell{
    display: inline-block;
    width: 50%;
    margin-top: 10px;
}
.homecontainer .imgnav1 .imgnav1cell img{
    width: 100%;
}
.homecontainer .imgnav2{
    display: flex;
}
.homecontainer .imgnav2 .imgnav2cell{
    display: inline-block;
    width: 25%;
    margin-top: 10px;
    text-align: center;
}
.homecontainer .imgnav2 .imgnav2cell p:nth-of-type(1){
    color: black;
    font-size: 18px;
    margin: 0;
}
.homecontainer .imgnav2 .imgnav2cell p:nth-of-type(2){
    color: red;
    font-size: 15px;
    margin: 0;
}
.homecontainer .imgnav2 .imgnav2cell img{
    width: 70px;
}
.homecontainer .xianshi{
    margin-top: 15px;
    display: flex;
    width: 100%;
    overflow: scroll;
}
.homecontainer .xianshi .xianshishow{
    display: flex;
}
.homecontainer .xianshi .xianshishow .xianshishowcell{
    display: inline-block;
    width: 67px;
    margin-left: 15px;
    position: relative;
}
.homecontainer .xianshi .xianshishow .xianshishowcell img{
    width: 100%;
}
.homecontainer .xianshi .xianshishow .xianshishowcell p:nth-of-type(1){
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top:50px;
    background: rgba(255,87,87,0.6);
    padding: 1px 5px;
    border-radius: 10px;
    font-size: 9px;
    line-height: 100%;
    color: white;
}
.homecontainer .xianshi .xianshishow .xianshishowcell h3{
    text-align: center;
    color: red;
    margin: 0;
    font-size: 20px;
    font-weight: bolder;
}
.homecontainer .xianshi .xianshishow .xianshishowcell del{
    color: black;
    display: block;
    text-align: center;
}
.homecontainer .appimg{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}
.homecontainer .lunbotu2 .lunbotu2cell{
    width: 100%;
    margin-top: -10px;
    padding: 10px;
}
.homecontainer>h2{
    font-weight: bolder;
    text-align: center;
}
.homecontainer .dianpu .dianpucell{
    display: flex;
    border-top: 1px solid gray;
    padding: 15px 0;
}
.homecontainer .dianpu .dianpucell>div:nth-of-type(1){
    margin-left: 10px;
}
.homecontainer .dianpu .dianpucell>div:nth-of-type(1) img{
    width: 64px;
    height: 64px;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    display: inline-block;
    margin-right: 8px;
}
.homecontainer .dianpu .dianpucell>div:nth-of-type(2) h2{
    font-weight: bolder;
    margin-bottom: 0;
} 
.homecontainer .dianpu .dianpucell>div:nth-of-type(2) .star0{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('../../assets//img/newStar.png');
    background-size: 70px 15px;
}
.homecontainer .dianpu .dianpucell>div:nth-of-type(2) .star1{
    background-position: 0 1px;
}
.homecontainer .dianpu .dianpucell>div:nth-of-type(2) .star2{
    background-position: -14px 1px;
}
.homecontainer .dianpu .dianpucell>div:nth-of-type(2) .star3{
    background-position: -28px 1px;
}
.homecontainer .dianpu .dianpucell>div:nth-of-type(2) .star4{
    background-position: -42px 1px;
}
.homecontainer .dianpu .dianpucell>div:nth-of-type(2) .star5{
    background-position: -56px 1px;
}
.homecontainer .dianpu .dianpucell>div:nth-of-type(2) .activities{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed gray;
    position: relative;
    height: 50px;
    overflow: hidden;
}
.homecontainer .dianpu .dianpucell>div:nth-of-type(2) .activities section{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
    overflow: hidden;
}
.homecontainer .dianpu .dianpucell>div:nth-of-type(2) .activities .spannav{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url('../../assets//img/index.png');
    background-size: 30px 300px;
    background-position: -5px 25px;
}
.homecontainer .dianpu .dianpucell>div:nth-of-type(2) .activities .spannav1{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url('../../assets//img/index.png');
    background-size: 30px 300px;
    background-position: -5px 60px;
}